<nav class="nav-extended nav-full-header z-depth-0 blue-grey darken-4">
  <div class="nav-background">
    <img class="active" src="https://www.crypto-news.net/wp-content/uploads/2016/07/who-got-hacked.jpg" alt="control room">
  </div>
  <div class="nav-wrapper blue darken-4 stickyNav" >
    <a href="/" class="brand-logo center">Scrape News</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li class="active"><a href="/" >News</a></li>
      <li><a href="/articles" >Saved Articles</a></li>
    </ul>
  </div>

  <div class="nav-header valign-wrapper">
    <div class="center">
      <h1 >Mongo Scraper</h1>
      <div class="tagline">Hacker News Edition</div>
    </div>
  </div>
</nav>
<!--mobile-->
<ul class="side-nav blue darken-4" id="nav-mobile">
  <li class="active"><a href="/"><i class="material-icons">home</i>Home</a></li>
  <li class="active"><a href="/articles"><i class="material-icons">home</i>Saved Articles</a></li>
</ul>
