<div class="col m6 s12 gallery-item gallery-horizontal gallery-filter news">
  <div class="gallery-curve-wrapper">

    <div class="gallery-header">
      <a class="saveArcticle right btn blue"><span class="white-text">Save Article</span></a>

      <h4 >title</h4>
      <a href="#">link</a>
    </div>
  </div>
</div>
