<div class="col s12 gallery-item gallery-horizontal gallery-filter news">
  <div class="gallery-curve-wrapper">

    <div class="gallery-header">
      <a class="saveArcticle right btn blue"><span class="white-text">Save Article</span></a>


      <a href={{this.link}} target="_blank"><h4>{{this.title}}</h4></a>
    </div>
  </div>
</div>
