<div class="row" style="border-bottom: 4px solid">
  <div style="display: inline">
    <h4 style="display: inline;">{{this.title}}</h4>
    {{this.comment}}
  </div>
  <a href="#!"><i class="removeNotes red-text small material-icons right">clear</i></a>
</div>
