<div class="col s12 gallery-item gallery-horizontal gallery-filter news">
  <div class="gallery-curve-wrapper">

    <div class="gallery-header">
      <i class="red material-icons">edit</i>
      <i class="red material-icons">delete</i>
      <a href={{this.link}} target="_blank"><h4>{{this.title}}</h4></a>
    </div>
  </div>
</div>
