<!--Body-->
{{>navBar}}
<!--About-->
<section class="white">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="center">News Arctiles</h3>
        <hr class="style-two">
      </div>
    </div>
    <div id="portfolio" class="section gray">
      <div class="gallery row">
        {{>news}}
      </div>
    </div>
  </div>
</section>
